body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.schedule-container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.schedule-grid {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}

.first-row,
.second-row {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    background-color: #968AE1;
}

.row-spacer {
    height: 25px;
}

.section-select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #968AE1;
    width: auto;
    margin: 0 15px;
}

.timezone {
    margin-left: auto;
}

.schedule-label {
    text-align: center;
    width: 100%;
    padding: 6px 20px;
    font-size: 24px;
    font-weight: 600;
}

.schedule-table {
    background-color: #C3DCF0;
    padding: 3px;
}

.table-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border: 1px solid #000;
}

.header-cell {
    padding: 8px 12px;
    text-align: center;
    border-right: 1px solid #000;
}

.header-cell:last-child {
    border-right: none;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #C3DCF0;
}

.table-cell {
    padding: 8px 12px;
    border-right: 1px solid #000;
    text-align: left;
}

.table-cell:last-child {
    border-right: none;
    text-align: center;
}
