.main {
  margin-bottom: 40px;
}

/* Сетка формы */
.form-grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Горизонтальная строка для столбиков */
.form-row {
  display: flex;
  gap: 25px; /* расстояние между столбиками */
  justify-content: space-between;
}

/* Вертикальный столбик */
.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 0;
}

.column-title {
  /*margin-bottom: -15px;*/
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  display: block;
}

/* Поля ввода (общие стили для всех) */
input[type="date"],
select, 
.button {
  background-color: #D8D9F0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
  border: none;
  border-radius: 0;
  outline: none;
  width: 100%; /* чтобы заняли всю ширину столбика */
  box-sizing: border-box;
  height: 36px; /* фиксированная высота */
  line-height: 36px; /* для вертикального центрирования текста */
  padding: 9px 7px;
}


.button {
  display: flex;                
  align-items: center;          
  justify-content: center; 
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #222;
}

/* Селекты имеют фиксированную высоту */
select {
  font-weight: 300;
}

.custom_checkbox {
  width: fit-content;
}

.text-field__input {
  position: relative;
  background-color: #D8D9F0;
  width: 100%;
  height: 36px;
}

.field__input {
  border: none;
  background-color: #D8D9F0;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  padding: 9px 7px;
  outline: none;
}

.text-field__placeholder {
  position: absolute;
  top: 9px;
  left: 7px;
  font-size: 16px;
  font-weight: 300;
  color: #7d7d7d;
  pointer-events: none;
  transition: all 0.2s ease;
}

.field__input:focus + .text-field__placeholder,
.field__input:not(:placeholder-shown) + .text-field__placeholder {
  top: -20px;
  left: 5px;
  font-size: 13px;
  color: #3a3a99;
  padding: 0 4px;
  transform-origin: left;
}


