/* Submit application */

.main {
  margin-bottom: 40px;
}

.applitation_submit_header {
  margin: 20px auto; /* Убрали отступ снизу */
  font-size: 24px;
  font-weight: 600;
}

.inputs {
  display: grid;
  grid-gap: 25px;
}

.select {
  width: 600px;
  height: 36px;
  padding: 9px 7px;
  border: none;
  background-color: #D8D9F0;
  font-size: 16px;
  font-weight: 300;
}

.text-field__input {
  position: relative;
  background-color: #D8D9F0;
  width: 600px;
  height: 36px;
}

.field__input {
  border: none;
  background-color: #D8D9F0;
  width: 600px;
  font-weight: 300;
  font-size: 16px;
  padding: 9px 7px;
  outline: none;
}

.text-field__placeholder {
  position: absolute;
  top: 9px;
  left: 7px;
  font-size: 16px;
  font-weight: 300;
  color: #7d7d7d;
  pointer-events: none;
  transition: all 0.2s ease;
}

.field__input:focus + .text-field__placeholder,
.field__input:not(:placeholder-shown) + .text-field__placeholder {
  top: -20px;
  left: 5px;
  font-size: 13px;
  color: #3a3a99;
  padding: 0 4px;
  transform-origin: left;
}

.custom_file_wrapper {
  width: 600px;
  font-size: 16px;
  font-family: inherit;
}

.custom_file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D8D9F0;
  padding: 1px 10px 1px 7px;
  height: 36px;
  cursor: default;
}

.file_label {
  pointer-events: none;
}

.file_button_wrapper {
  position: relative;
  display: inline-block;
}

.file_button {
  position: relative; /* Добавляем для позиционирования input */
  border: 2px solid #000;
  padding: 4px 10px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Изменения в стилях input */
.custom_file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  cursor: pointer;
}

.file_name_display {
  font-size: 14px;
  margin: 0;
  color: #333;
  max-width: 600px;
  word-break: break-all;
}



.submit_application {
  width: 600px;
  height: 36px;
  background-color: #1B1F26;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
}

.submit_application:hover {
  opacity: 0.9;
}



