.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

h1 {
  margin: 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  background-color: #968AE1;
  font-size: 24px;
}

.section-selector {
  background-color: #968AE1;
  padding: 10px 15px;
  margin-top: 20px; /* Добавлен отступ сверху 20px */
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-selector label {
  font-size: 16px;
  color: #000;
}

.section-select {
  padding: 8px 12px;
  border: 1px solid #000;
  background-color: #968AE1;
  color: #000;
  font-size: 16px;
  width: auto;
  max-width: 100%;
  
}

.table-wrapper {
  background-color: #D8D9F0;
  padding: 3px;
  overflow-x: auto;
}

.schedule_table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.schedule_table th,
.schedule_table td {
  border: 1px solid #000;
  padding: 8px 12px;
  text-align: left;
  background-color: transparent;
}

.schedule_table th {
  background-color: #D8D9F0;
  text-align: center;
}