/* Основной контейнер */
.main {
  margin-bottom: 40px;
}

/* Блок с контактами */
.committee_block {
  background: #D8D9F0;
  padding: 3px; 
  margin: 12px 0;
  color: #000;
}

/* Специальный стиль для контактной информации */
.committee_block.contact_info {
  text-align: center;
  font-size: 18px;
}

/* Заголовки комитетов */
.committee_title {
  font: 600 20px/1.4 sans-serif;
  color: #000;
  margin: 30px 0 10px; 
  text-align: center;
}

/* Таблицы */
.committee_block table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin-top: 6px;
}

/* Ячейки таблицы */
.committee_block td {
  padding: 16px 16px;
  vertical-align: top;
  text-align: left;
  border: none;
  line-height: 1.6;
  color: #000;
}

/* Заголовки таблицы */
.committee_block th {
  padding: 4px; 
  font-weight: 600;
  text-align: center;
  color: #000;
  font-size: 18px;
}


/* Первый столбец без переноса */
.committee_block td:first-child,
.committee_block th:first-child {
  white-space: nowrap;
  width: 200px;
  padding-right: 12px;
  font-weight: 600;
}

/* Ссылки */
.committee_block a {
  color: #2A5DB0;
  text-decoration: none;
}

.committee_block a:hover {
  text-decoration: underline;
}
