.news-section {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;

}

h1 {
    text-align: center;
    background-color: #968AE1;
    padding: 15px 0;
    margin: 0; /* Убрали отступ снизу */
    font-size: 24px;
    color: black;
}

.news-container {
    background-color: #D8D9F0;
    padding: 20px;
    margin-top: 0; /* Убрали отступ сверху */
}

.news-item {
    background-color: #D8D9F0;
    padding: 10px 0;
    margin-bottom: 20px;
}

.news-item:last-child {
    margin-bottom: 0;
}

.news-date {
    display: block;
    font-size: 16px; /* Сделали одинаковый размер с новостью */
    font-weight: normal;
    margin-bottom: 5px;
}

.news-content {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: normal; /* Убрали жирность */
}