/* Header */

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  margin: 25px auto;
  max-width: 1440px;
  width: 80%;
}

.top_nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 300px;
}


.header_list {
  display: flex;
  gap: 50px;
}

.header_link {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;;
  color: #000;
  
  transition: opacity 0.3s;
}

.header_link:hover {
  opacity: 0.8;
}

.header_link--active {
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}

.language-switcher {
  display: grid;
  align-items: center;
}

.language-label {
  margin: auto;
  margin-bottom: 5px;
}

.language-dropdown {
  margin: auto;
}

.language-current {
  padding: 5px;
  width: 70px;
  border: 1px solid #D9D9D9;
}

.language-options {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.language-options li {
  width: 70px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.language-options li:hover {
  background: #f5f5f5;
}

.language-dropdown:hover .language-options {
  display: block;
}

.btn {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;

  color: #fff;
  background: #1B1F26;
  padding: 10px;

  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

/* Media requests */

@media screen and (max-width: 1500px) {
  .header_logo {
    width: 200px;
  }

  .header_link {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .header_logo {
    width: 100px;
  }

  .header_link {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .header_logo {
    width: 100px;
  }

  .header_link {
    font-size: 10px;
  }

  .btn {
    font-size: 12px;
  }
}